@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for the sidebar */
.sidebar::-webkit-scrollbar {
    width: 8px;  /* Set the width of the scrollbar */
  }
  
  .sidebar::-webkit-scrollbar-track {
    background: transparent;  /* Make the track transparent */
  }
  
  .sidebar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4);  /* Light translucent thumb */
    border-radius: 10px;  /* Rounded edges */
  }
  
  .sidebar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.6);  /* Darker thumb when hovered */
  }
  